<div id="<%= dom_id brand %>">
  <h2><%= brand.name %></h2>

  <p>
    <strong>Description:</strong>
    <%= brand.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= brand.website %>
  </p>

</div>
